nav, video, #real-time, footer {
    display: none;
}

a, a:link, a:visited {
    color: black;
}

table {
    border-collapse: collapse;
    margin: 1cm;
    float: left;
}

tr{
    width: auto;
}


th, td {
    border: 1px solid black;
    width: auto;
}

table caption {
    display: none;
}

section{
    page-break-inside: avoid;
}

h1{
    page-break-inside: avoid;
}

h1::after
{
    height: 6rem; 
    margin-bottom: -6rem;
    display: block;
    content: "";
}


img[src$='.gif'] {
    display: none;
}

img {
    width: 75%;
    height: auto;
    display: block;
}

#profile-picture {
    height: 8cm;
    width: auto;
    float: right;
    margin-left: 2cm;
}

#about-section {
    display: block;
    float: none;
}

label {
    display: block;
    margin-bottom: 0.3em;
}

form {
    width: auto;
}

fieldset {
    display: block;
    margin: 1em 0;
    margin-right: auto;
    width: auto;
}

textarea {
    width: 100%;
    height: 10em;
}

.form-floating label {
    display: none;
}

#hidden-message {
    display: block;
}


textarea::-webkit-placeholder { color: transparent; }

textarea::-moz-placeholder { color: transparent; }

textarea:-moz-placeholder { color: transparent; }

textarea::placeholder { color: transparent; }
